<template id="about-template">
    <section id="about" class="about-section bg-[var(--darker-bg)] text-[var(--cream-white)] h-full py-16">
        <div class="container">
            <h2 class="section-title mb-8 text-[var(--cream-white)] text-5xl text-center">About Us</h2>
            <div class="flex flex-col lg:flex-row justify-between">
                <div class="about-content px-8 lg:px-12 lg:w-3/5 text-2xl font-[var(--font-weight-body)]">
                    <p>At MuseBoost Collective, we're passionate about empowering content creators to reach their full earning potential. <span class="italic">Content</span> has, is, and will still be the wave to ride for at least several more decades, and our mission is to get each and every creator we work with to catch the wave ASAP and ride it into an early, kushy retirement 😮‍💨💨😌 
                    <br></br>Our team of industry experts provides tried and proven content strategies, growth hacks that feel illegal to know, and customized, bleeding-edge AI and marketing solutions to give you the edge you need in today's content economy. We give you the unwavering support to help you grow your audience, increase your revenue, and build a lasting brand and strong, steady stream of digital income💦💵💦💰
                    <br></br>As content creators ourselves, we understand the unique challenges and opportunities that creators face and we're committed to staying ahead of industry trends and leveraging the latest tools and techniques to ensure your success in this evolving digital landscape 💯</p>
                </div>
                <div class="about-image px-8 lg:px-12 lg:w-2/5">
                    <img class="w-full" alt="MuseBoost Collective Team" loading="lazy" decoding="async" src="/placeholder.svg?height=400&width=600">
                </div>
            </div>
        </div>
    </section>
</template>